<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button shape="round" [routerLink]="['/home']">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    <ion-title>
      Categorias
    </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button id="open-modal" expand="block">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  @if (categories.length > 0) {
    <ion-list lines="full">
      @for (category of categories; track category) {
      <ion-item>
        <app-category-card [category]="category" (onDelete)="deleteCategory(category)" (onEdit)="editCategory(category)"></app-category-card>
      </ion-item>
      }
    </ion-list>
  }


  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="modalCancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title class="modal-title">{{ isEdit ? 'Editar categoria' : 'Crear nueva categoria'}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="createOrEditCategory()" [strong]="true" [disabled]="createCategoryForm.invalid">{{ isEdit ? 'Editar' : 'Crear'}}</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form #createCategoryForm="ngForm">
          <ion-item lines="none">
            <ion-input label="Nombre" labelPlacement="stacked" type="text" placeholder="Nombre" required="true"
            [(ngModel)]="categoryName" name="name" error-text="Campo obligatorio"></ion-input>
          </ion-item>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

  @if (categories.length === 0) {
    <div class="empty-state-container">
      Aún no tienes ninguna categoría
    </div>
  }
</ion-content>
