
ion-card {
  box-shadow: none;
}

ion-label {
  margin-top: 12px;
  margin-bottom: 12px;
}

ion-card-subtitle .dates-container{
  display: flex;
  .date {
    align-items: center;
    display: flex;
  }
}

ion-item ion-icon {
  color: #c9c9ca;
}

ion-note {
  font-size: 0.9375rem;
  margin-right: 8px;
  font-weight: normal;
}

ion-note.md {
  margin-right: 14px;
}

ion-footer ion-title {
  font-size: 11px;
  font-weight: normal;
}